.wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

body {
  background-image: url("src/assets/med2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;

  animation: parallaxEffect 20s infinite linear; /* Apply the parallax animation */
}

@keyframes parallaxEffect {
  0% {
    background-position: 50% 0%; /* Start from top */
  }
  50% {
    background-position: 50% 100%; /* Move to bottom */
  }
  100% {
    background-position: 50% 0%; /* Move back to top */
  }
}
