.wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

body {
  background-image: url("https://st5.depositphotos.com/30551032/64440/i/450/depositphotos_644402218-stock-photo-tablets-pharmacology-medicine-pharmacy-health.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-position: center center; */

  animation: zoomOut 20s infinite; /* Apply the zoom-out animation */
}

@keyframes zoomOut {
  0% {
    background-size: 110%; /* Start slightly zoomed in */
  }
  100% {
    background-size: 100%; /* End at the normal size */
  }
}
